/* For Tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Styles for ui-framework-comparison */


.container-ui-comparison {
    display: flex;
    flex-direction: column;
}
.sub-container-button {
    justify-content: space-around;
    display: flex;
    height: 5em;
    align-items: center !important;
    /* background-color: red; */
}